<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <img
    width="300"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>
<hr />
<br />

<ul style="list-style-type: none;">
  <li *ngFor="let elem of outputArray; let i = index">
    <h3>{{ elem }}</h3>
    <button
      (click)="deleteShortcut(i)"
      style="background-color: black; color: red; font-size: 22px;"
    >
      <strong>delete</strong>
    </button>
  </li>
</ul>

<br />
<br />
<div>
  <form [formGroup]="form">
    <select
      name="key1selector"
      formControlName="key1"
      style="margin-left: 2%; width: 10%; height: 25px;"
    >
      <option value="ctrl">Ctrl</option>
      <option value="alt">Alt</option>
      <option value="shift">Shift</option>
      <option value="escape">Escape</option>
    </select>
    <input
      type="text"
      placeholder="second key"
      formControlName="key2"
      style="margin-left: 2%; width: 5%; height: 25px;"
    />
    <button
      type="button"
      (click)="addShortcut()"
      style="margin-left: 2%; width: 10%;"
    >
      add new keyCombo
    </button>
  </form>
</div>

<hr />

<br />
<router-outlet></router-outlet>
